# Generic ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__

# Directory (contents) ignore
.cloud
.storage
deps

# Specific file ignores
secrets.yaml
.uuid

# Specific keeps
!.gitkeep
.spotify-token-cache
